.card {
    background: #1a1b21;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 1px 6px 6px rgba(0,0,0,0.25);
}